.footern {
  width: 100vw;
  height: 60vh;
  margin: 0px;
  /* background-image: url('../../assets/footerimg.png'); */
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 3.5fr 3fr 4.5fr ;
  height: 100%;
}

.footer1,
.footer2,
.footer3,
.footer-img {
  display: flex;
  margin-top: 50px;
  
}

.footer-img{
  margin-top: 80px;
  align-items: start;
  justify-content: center;
}
.footer-font-size {
    font-size: 24px;
    margin: 10px 0;
}

.logo2 {
  width: 5vw;
  transition: all linear 0.314159265358979s;
}

.logo2:hover {
  transform: rotate(240deg);
  transition: all linear 1s ;
}
.social{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: auto;
}

.reachusoutat {
  font-size: 3vw;
  margin: 0px;
}

/* .pad-footer {
  padding-left: 1vw;
} */

.social{
  height: 100px;
  font-size: 45px;
  margin-top: 10px;
  
}
.social i{
  margin:10px;
  color: white;
}
.social i:hover{
  color: rgb(255, 231, 52);
  cursor: pointer;
}

.map {
  /* padding: 1vw; */
  width: 100%;
}
.map iframe{
  height: 90%;
 margin: 20px 20px;
  border-radius: 10px;
}

@media only screen and (max-width:500px) {
  .footern {
    background-position: center;
    height: 55vh;
  }
  .logo2{
    width: 90px;
  }
  .footer-img{
    margin-top: 10px;
  }

  /* .footer-font-size {
    font-size: 4vw;
  } */
  .map {
    padding: 2vw;
    /* width: 80%; */
    margin: auto;
  }
  .map iframe{
    height: 350px;
    margin: 20px 0;
  }

  .reachusoutat {
    font-size: 30px;
    /* margin: 0px; */
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
  }
  .footer2, .footer1{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }
    
}

/* @media only screen and (max-width:350px) {
  .Btn {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-width:300px) {
  .Btn {
    width: 20px;
    height: 20px;
  }
} */